<div class="flex h-screen w-screen overflow-hidden bg-[#0d0d11] relative">


  <!-- LEFT PANEL -->

  <div *ngIf="!isMobile()"
    class="h-full shrink-0 overflow-hidden transition-all duration-300"
    [class]="leftPanelVisible() ? 'w-72' : 'w-0'">
    <app-voucher-panel (voucherSelected)="openModal($event)" />
  </div>

  <!-- Mobile-->
  @if (isMobile() && leftPanelVisible()) {

    <div class="absolute inset-0 z-30 bg-black/60 backdrop-blur-sm"
      (click)="closeAllPanels()">
    </div>
    <!-- Panel -->
    <div class="absolute left-0 top-0 h-full w-[85vw] max-w-xs z-40
                bg-[#0d0d11] border-r border-white/8
                animate-slide-in-left overflow-hidden">
      <app-voucher-panel (voucherSelected)="openModal($event)" />
    </div>
  }

  <!-- CHAT CENTER-->
  <div class="flex-1 h-full relative min-w-0">
    <app-chat
      [leftVisible]="leftPanelVisible()"
      [rightVisible]="rightPanelVisible()"
      (toggleLeft)="toggleLeft()"
      (toggleRight)="toggleRight()" />
  </div>

  <!-- RIGHT PANEL -->

  <div *ngIf="!isMobile()"
    class="h-full shrink-0 overflow-hidden transition-all duration-300"
    [class]="rightPanelVisible() ? 'w-72' : 'w-0'">
    <app-insights-panel />
  </div>

  <!-- Mobile-->
  @if (isMobile() && rightPanelVisible()) {

    <div class="absolute inset-0 z-30 bg-black/60 backdrop-blur-sm"
      (click)="closeAllPanels()">
    </div>
    <!-- Panel -->
    <div class="absolute right-0 top-0 h-full w-[85vw] max-w-xs z-40
                bg-[#0d0d11] border-l border-white/8
                animate-slide-in-right overflow-hidden">
      <app-insights-panel />
    </div>
  }

</div>